:root {
  --bg: #355084;
  --tc: rgba(154, 180, 232, 0.8);
  --searchBG: rgba(53, 80, 132, 0.95);
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

h1,
h4 {
  margin-block: 3px;
  text-align: center;
}

h4 {
  font-weight: lighter;
  margin-block: 1em;
}

div.content {
  display: table;
  min-width: 750px !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div.contentRow {
  display: table-row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div.contentCol2,
div.contentCol {
  display: table-cell;
  margin: 0;
  padding: 0;
  border-style: none;
}

div.contentCol2 {
  position: relative;
}

div.resultTable,
div.searchPicksTable {
  display: table;
  width: 98%;
  margin: auto;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--bg);
  border-style: solid;
  color: #000000;
}

div.row {
  display: table-row;
}

div.col,
div.header {
  display: table-cell;
  border-width: 2px;
  border-color: var(--bg);
  border-style: solid;
  padding: 5px;
}

div.resultTable div.header {
  background-color: var(--bg);
  color: white;
  cursor: default;
}

div.resultTable div.clickable {
  cursor: pointer;
}

div.resultTable div.col.clickable:hover {
  color: red;
}

div.pageBar {
  /* The rest is dynamically set in javascript */
  display: block;
  position: absolute;
  margin-inline: 2;
  background-color: var(--bg);
}

div.pageThumb {
  /* The rest is dynamically set in javascript */
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: var(--tc);
}

img {
  cursor: pointer;
  object-fit: cover;
}

div.search {
  position: fixed;
  display: block;
  /* size and position set dynamically. */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid var(--tc);
  border-radius: 10px;
  background-color: var(--searchBG);
  color: white;
}

div.searchContainer {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input.searchText {
  font: 120%;
  border-radius: 5px;
  border: solid 3px #bbb;
  size: 60;
  padding: 5px;
}

div.searchItems {
  margin-block: 10px;
}

div.searchResults {
  background-color: white;
}

div.searchPicksTable {
  border: none;
}

div.searchPicksTable .col {
  width: 200px;
  border: none;
  padding: 2px;
}

div.searchPicksTable .col:hover {
  border: 1px solid var(--tc);
}

div.searchHide {
  display: none;
}

div.searchShow {
  display: relative;
}

span.ft {
  color: white;
  background-color: var(--searchBG);
}
