h1,
h4 {
  margin-block: 3px;
  text-align: center;
}

div.content {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div.resultTable {
  display: table;
  width: 90%;
  margin: auto;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  color: #000000;
}

div.resultTable div.row {
  display: table-row;
}

div.resultTable div.col,
div.resultTable div.header {
  display: table-cell;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  padding: 5px;
}

div.resultTable div.header {
  background-color: #7ea8f8;
}
